.containerStories {
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    padding: 1.8%;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.98);
}

.containerUsr{
    display: flex;
}

.containerUsr .logo {
    border-radius: 100%;
    height: 12%;
    width: 12%;
    padding-top: 4%;
    padding-right: 2%;
}

.containerUsr .lblUsr {
    color: white;
    padding-top: 2%;
}

.containerImgs {
    overflow: hidden;
    width: 100%;
	height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.containerImgs .btns {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    height: 70%;
    padding: 30%;
    border-radius:10px;
    position: relative;
    outline:none;
}

.containerImgs #chargeIMG {
    margin-top: -20%;
    
    height: auto;
    position: absolute;
}