.containerStories {
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    padding: 1.8%;
    box-shadow: 0px 2px 10px 15px rgba(0,0,0,0.98);
}

.containerUsr{
    display: flex;
}

.containerUsr .logo {
    border-radius: 100%;
    height: 12%;
    width: 12%;
    padding-top: 2%;
    padding-right: 2%;
}

.containerUsr .lblUsr {
    color: white;
    padding-top: 0%;
}

.containerImgs {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
}

.containerImgs .btns {
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    outline:none;
    border: none;
    height: 70%;
    padding-right: 55%;
    margin-top: -20%;
    border-radius:10px;
}

.containerImgs #chargeIMG {
    position: absolute;
    margin-top: -20%;
    max-width: 98%;
    max-height: 97%;
}

.containerPB{
    width: 100%;
    height: 4px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
}

.pb{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    background-color:gray;
    border-radius: 10px;
}

#progress {
    width:1%;
    height: 100%;
    background-color: white;
}